<cb:config-template xmlns:cb="urn:ccnet.config.builder">
    <!-- NUnit -->
    <cb:define NUnitExecutable="&quot;C:/Program Files (x86)/NUnit 2.6.2/bin/NUnit-Console.Exe&quot;" />
    <cb:define NUnitProjectFile="&quot;D:/Repositories/SW_NT8/NT8.UnitTest/NT8.UnitTest.nunit&quot;" />
    <cb:define NUnitResultFile="&quot;D:/Staging/SW_NT8/NT8.UnitTest.dll-results.xml&quot;" />

    <!-- NCover -->
    <cb:define NCoverExecutable="&quot;D:/Program Files/NCover/NCover.Console.Exe&quot;" />
    <cb:define NCoverExplorerExecutable="&quot;D:/Program Files/NCover/NCoverExplorer.Console.exe&quot;" />
    <cb:define NCoverProjectFile="&quot;D:/Repositories/SW_NT8/BuildTools/AddOns/NCover/NCoverProject.Xml&quot;"/>
    <cb:define NCoverCoverageFile="&quot;D:/Staging/SW_NT8/Coverage.Xml&quot;" />
    <cb:define NCoverExplorerResultFile="&quot;D:/Staging/SW_NT8/CoverageRpt.xml&quot;" />

    <!-- Source Monitor -->
    <cb:define SMExecutable="&quot;D:/Program Files/SourceMonitor/SourceMonitor.exe&quot;" />
    <cb:define SMReportParserExecutable="&quot;D:/SourceMonitorParser/SMReportParser.Exe&quot;" />
    <cb:define SMResultFile="&quot;D:/Staging/SW_NT8/SMResult.Xml&quot;" />

    <!-- Directories 
	<cb:define Source.Dir="&quot;d:/FormulatrixSource/NT8&quot;" />
	<cb:define Staging.Dir="&quot;d:/Staging&quot;" />
	-->
	
	<cb:define Configuration="Release" />

	<!-- Installer properties -->
	<cb:define NSIS.home="&quot;C:/Program Files (x86)/NSIS&quot;" />
	<cb:define Signtool.home="&quot;C:/Program Files/Microsoft SDKs/Windows/v6.0A/bin&quot;" />

	<cb:define Git.branch="master" />

	<cb:define buildArgs=" -D:NUnitExecutable=$(NUnitExecutable) -D:NUnitProjectFile=$(NUnitProjectFile) -D:NUnitResultFile=$(NUnitResultFile) -D:NCoverExecutable=$(NCoverExecutable) -D:NCoverExplorerExecutable=$(NCoverExplorerExecutable) -D:NCoverProjectFile=$(NCoverProjectFile) -D:NCoverCoverageFile=$(NCoverCoverageFile) -D:NCoverExplorerResultFile=$(NCoverExplorerResultFile) -D:SMExecutable=$(SMExecutable) -D:SMReportParserExecutable=$(SMReportParserExecutable) -D:SMResultFile=$(SMResultFile) -D:Configuration=$(Configuration) -D:NSIS.home=$(NSIS.home) -D:Git.branch=$(Git.branch) -D:Signtool.home=$(Signtool.home)" 	/>

	<!--
	<cb:define buildArgs="
		-D:NUnitExecutable=$(NUnitExecutable)
		-D:NUnitProjectFile=$(NUnitProjectFile)
		-D:NUnitResultFile=$(NUnitResultFile)
		-D:NCoverExecutable=$(NCoverExecutable)
		-D:NCoverExplorerExecutable=$(NCoverExplorerExecutable)
		-D:NCoverProjectFile=$(NCoverProjectFile)
		-D:NCoverCoverageFile=$(NCoverCoverageFile)
		-D:NCoverExplorerResultFile=$(NCoverExplorerResultFile)
		-D:SMExecutable=$(SMExecutable)
		-D:SMReportParserExecutable=$(SMReportParserExecutable)
		-D:SMResultFile=$(SMResultFile)
		-D:Configuration=$(Configuration)
		-D:NSIS.home=$(NSIS.home)
		-D:Git.branch=$(Git.branch)
		-D:Signtool.home=$(Signtool.home)" 
	/>
	-->
	
</cb:config-template>