<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <!-- NUnit -->
    <add key="NUnitExecutable" value="C:\Program Files\NUnit 2.5\bin\net-2.0\NUnit-Console.Exe" />
    <add key="NUnitProjectFile" value="C:\FormulatrixSource\NT8\NT8.UnitTest\NT8.UnitTest.nunit"/>
    <add key="NUnitResultFile" value="C:\Staging\SW_NT8\NT8.UnitTest.dll-results.xml"/>

    <!-- NCover -->
    <add key="NCoverExecutable" value="C:\Program Files\NCover\NCover.Console.Exe" />
    <add key="NCoverExplorerExecutable" value="C:\Program Files\NCover\NCoverExplorer.Console.exe" />
    <add key="NCoverProjectFile" value="C:\FormulatrixSource\NT8\BuildTools\AddOns\NCover\NCoverProject.Xml"/>
    <add key="NCoverCoverageFile" value="C:\Staging\SW_NT8\Coverage.Xml"/>
    <add key="NCoverExplorerResultFile" value="C:\Staging\SW_NT8\CoverageRpt.xml"/>

    <!-- Source Monitor -->
    <add key="SMExecutable" value="C:\Program Files\SourceMonitor\SourceMonitor.exe"/>
    <add key="SMReportParserExecutable" value="C:\SourceMonitorParser\SMReportParser.Exe"/>
    <add key="SMResultFile" value="C:\Staging\SW_NT8\SMResult.Xml"/>

    <!-- Directories -->
	  <add key="Source.Dir" value="c:\FormulatrixSource\NT8" />
	  <add key="Staging.Dir" value="c:\Staging" />

	  <!-- StarTeam properties -->
	  <add key="StarTeam.home" value="c:\Program Files\Borland\StarTeam 6.0" />
	  <add key="StarTeam.url" value="Builder:einstein13@fusa.formulatrix.com:49201/SW_NT8" />
	  
	  <!-- Build properties -->
	  <add key="Configuration" value="Release" />

          <!-- Installer properties -->
          <add key="NSIS.home" value="c:\Program Files\NSIS" />
	  <add key="Signtool.home" value="C:\Program Files\Microsoft SDKs\Windows\v6.0A\bin" />
	</appSettings>
</configuration>
